body, html,#allmap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin:0;
  font-family:"微软雅黑";
}
#welcome_title{
  position: absolute;
  margin: 0;
  top: 5px;
  width: 100%;
  text-align: center;
}
#welcome_title span{
  font-size: 17px;
  color: black;
}
#welcome_title b{
  font-size: 35px;
  color: #ff520f;
  text-shadow: 1px 1px 5px #666;
}
#copyright{
  position: absolute;
  top: 230px;
  width: 100%;
  text-align: center;
}
#copyright a{
  color: black;
}
.search_box{
  position: absolute;
  left:10px;
  top: 10px;
  text-align: left;
}
#key_input{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  border-radius: 16px;
  background-color: #f7c994;
  box-shadow: 5px 5px 5px #888888;
  padding: 30px;
}
#key{
  font-size: 18px;
  width: 200px;
  margin-bottom: 13px
}
.infoUniversity{
  border-radius: 21px;
  box-shadow: 5px 5px 5px #888888;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  font-size: 1em;
  position: absolute;
  width: 70%;
  max-width: 400px;
  height: 30%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
}
#open_map_trigger{
  position: absolute;
  right: 20px;
}
#open_maps{
  display: none;
  text-align: right;
  padding-right: 10px;
}
#open_maps a{
  color: white;
  text-decoration: none;
  font-size: 16px
}
#bdreminder{
  display: none;
  text-align: right;
  padding-right: 5px;
  font-size:12px;
}
#title_bar{
  width: 100%;
  height: 16%;
  padding-top: 3%;
  padding-bottom: 0%;
  background-color: #fe8c0f;
  opacity: 0.8;
}
#student_ul{
  width: 100%;
  height: 84%;
  overflow-y: scroll;
  background-color: #fe8c0f;
  opacity: 0.6;
}
#student_hilite{
  color: yellow;
}
#ctext{
	position: absolute;
	bottom: 10px;
	left:50%;
	color: #999;
	text-align:center;
	margin-left:-250px;
	width:500px;
	
}
