body, html,#allmap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin:0;
  font-family:"微软雅黑";
}
#welcome_title{
  position: absolute;
  margin: 0;
  top: 5px;
  width: 100%;
  text-align: center;
}
#welcome_title span{
  font-size: 17px;
  color: black;
}
#welcome_title b{
  font-size: 35px;
  color: #ff520f;
  text-shadow: 1px 1px 5px #666;
}
#copyright{
  position: absolute;
  top: 220px;
  width: 100%;
  text-align: center;
}
#copyright a{
  color: black;
}
.search_box{
  position: absolute;
  left:10px;
  top: 10px;
  right: 50px;
  text-align: left;
}
#class_select{
  width: 100px;
}
#key_input{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  border-radius: 16px;
  background-color: #f7c994;
  box-shadow: 5px 5px 5px #888888;
  padding: 30px;
  padding-bottom: 20px;
}
#key{
  font-size: 18px;
  width: 200px;
  margin-bottom: 13px
}
.BMapLabel{
  color: #ddd;
  border: 2px solid #808080 !IMPORTANT;
  cursor: pointer !IMPORTANT;
  background-color: #ec2d2d !IMPORTANT;
}
.infoUniversity{
  border-radius: 21px;
  box-shadow: 5px 5px 5px #888888;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  font-size: 16px;
  position: absolute;
  width: 70%;
  max-width: 400px;
  height: 30%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
}
#open_map_trigger{
  position: absolute;
  right: 20px;
}
#more_action{
  display: none;
}
#open_maps{
  text-align: right;
  padding-right: 10px;
}
#open_maps a{
  color: white;
  text-decoration: none;
  font-size: 16px
}
#title_bar{
  width: 100%;
  height: 16%;
  padding-top: 3%;
  padding-bottom: 0%;
  background-color: #fe8c0f;
  opacity: 0.8;
}
#univ_detail{
  font-size: 12px;
  padding-left: 10px;
}
#univ_hilite a{
  color: yellow !IMPORTANT;
}
#student_ul{
  font-size: 15px;
  width: 100%;
  height: 84%;
  overflow-y: scroll;
  background-color: #f7b56a;
  opacity: 0.9;
}
#student_ul ul{
  margin-top: 7px;
  padding-left: 30px
}
#student_ul ul li{
  position: relative;
}
#student_ul ul ul{
  margin-top: 0px;
  padding-left: 25px;
}
#student_hilite{
  color: yellow;
}
#ctext{
	position: absolute;
	bottom: 0px;
	color: #999;
	text-align:center;
	width: 100%;
}
#ctext a{
  color: #999;
}
#seeus{
	font-size: 1.5em;
	position: absolute;
	bottom: 8px;
	right: 12px;
	width: 63px;
	text-align: right;
  background-image:-webkit-linear-gradient(bottom,red,#fd8403,yellow);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
#groupimg{
  display: none;
  border-radius: 21px;
  opacity: 0.9;
  max-width: 90%;
  max-height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
